<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<welcome-file-list>
		<welcome-file>registerCustomer.html</welcome-file>
	</welcome-file-list>
<servlet>
      <servlet-name>upload</servlet-name>
      <servlet-class>com.nt.servlet.FileUploadServlet</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>upload</servlet-name>
      <url-pattern>/register</url-pattern>
   </servlet-mapping>
   
   <servlet>
      <servlet-name>upload2</servlet-name>
      <servlet-class>com.nt.servlet.CustomerReportGeneration</servlet-class>
   </servlet>
   <servlet-mapping>
      <servlet-name>upload2</servlet-name>
      <url-pattern>/report</url-pattern>
   </servlet-mapping>
	
</web-app>